body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-0px;
  width:375px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1041_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:647px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0.63921568627451);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1041 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:647px;
}
#u1041_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1042_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:20px;
}
#u1042 {
  border-width:0px;
  position:absolute;
  left:17px;
  top:9px;
  width:13px;
  height:20px;
}
#u1042_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1043_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
}
#u1043 {
  border-width:0px;
  position:absolute;
  left:130px;
  top:13px;
  width:116px;
  height:15px;
  font-size:13px;
}
#u1043_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  white-space:nowrap;
}
#u1044_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:2px;
}
#u1044 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:39px;
  width:375px;
  height:1px;
}
#u1044_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1045 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:40px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u1046_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:22px;
}
#u1046 {
  border-width:0px;
  position:absolute;
  left:346px;
  top:8px;
  width:22px;
  height:22px;
}
#u1046_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1047_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:77px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1047 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:570px;
  width:375px;
  height:77px;
}
#u1047_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1048_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  height:40px;
}
#u1048 {
  border-width:0px;
  position:absolute;
  left:55px;
  top:589px;
  width:260px;
  height:40px;
}
#u1048_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1049_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u1049 {
  border-width:0px;
  position:absolute;
  left:330px;
  top:598px;
  width:25px;
  height:25px;
}
#u1049_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1050_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u1050 {
  border-width:0px;
  position:absolute;
  left:18px;
  top:598px;
  width:25px;
  height:25px;
}
#u1050_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1051 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:40px;
  width:375px;
  height:530px;
  overflow:hidden;
}
#u1051_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:530px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u1051_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1052 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-320px;
  width:375px;
  height:848px;
  overflow:hidden;
  touch-action:none;
}
#u1052_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:848px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u1052_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1053 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1054_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u1054 {
  border-width:0px;
  position:absolute;
  left:12px;
  top:0px;
  width:40px;
  height:40px;
}
#u1054_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1055_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u1055 {
  border-width:0px;
  position:absolute;
  left:12px;
  top:262px;
  width:40px;
  height:40px;
}
#u1055_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1056_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u1056 {
  border-width:0px;
  position:absolute;
  left:12px;
  top:742px;
  width:40px;
  height:40px;
}
#u1056_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1057_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u1057 {
  border-width:0px;
  position:absolute;
  left:12px;
  top:362px;
  width:40px;
  height:40px;
}
#u1057_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1058_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u1058 {
  border-width:0px;
  position:absolute;
  left:62px;
  top:364px;
  width:62px;
  height:14px;
  font-size:12px;
}
#u1058_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  white-space:nowrap;
}
#u1059_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  height:216px;
}
#u1059 {
  border-width:0px;
  position:absolute;
  left:62px;
  top:386px;
  width:280px;
  height:216px;
}
#u1059_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:100px;
  width:276px;
  word-wrap:break-word;
}
#u1060_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u1060 {
  border-width:0px;
  position:absolute;
  left:12px;
  top:622px;
  width:40px;
  height:40px;
}
#u1060_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1061_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u1061 {
  border-width:0px;
  position:absolute;
  left:62px;
  top:622px;
  width:62px;
  height:14px;
  font-size:12px;
}
#u1061_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  white-space:nowrap;
}
#u1062_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  height:66px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:15px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
  line-height:28px;
}
#u1062 {
  border-width:0px;
  position:absolute;
  left:62px;
  top:646px;
  width:280px;
  height:66px;
  text-align:left;
  line-height:28px;
}
#u1062_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:276px;
  word-wrap:break-word;
}
#u1063_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  height:66px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:15px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
  line-height:28px;
}
#u1063 {
  border-width:0px;
  position:absolute;
  left:62px;
  top:782px;
  width:280px;
  height:66px;
  text-align:left;
  line-height:28px;
}
#u1063_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:276px;
  word-wrap:break-word;
}
#u1064_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u1064 {
  border-width:0px;
  position:absolute;
  left:62px;
  top:748px;
  width:38px;
  height:14px;
  font-size:12px;
}
#u1064_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  white-space:nowrap;
}
#u1065_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u1065 {
  border-width:0px;
  position:absolute;
  left:62px;
  top:0px;
  width:25px;
  height:14px;
  font-size:12px;
}
#u1065_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u1066_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  height:216px;
}
#u1066 {
  border-width:0px;
  position:absolute;
  left:62px;
  top:24px;
  width:280px;
  height:216px;
}
#u1066_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:100px;
  width:276px;
  word-wrap:break-word;
}
#u1067_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u1067 {
  border-width:0px;
  position:absolute;
  left:62px;
  top:262px;
  width:25px;
  height:14px;
  font-size:12px;
}
#u1067_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u1068_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  height:66px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:15px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
  line-height:28px;
}
#u1068 {
  border-width:0px;
  position:absolute;
  left:62px;
  top:286px;
  width:280px;
  height:66px;
  text-align:left;
  line-height:28px;
}
#u1068_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:276px;
  word-wrap:break-word;
}
